container {
  max-width: 1920px;
  width: 100%;
  margin: 0 auto;
  background-color: #f5f5f5;

}

/* HEADER */
header {
  max-width: inherit;
  width: inherit;
  padding: 51px 320px 50px 320px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #262626;
  position: fixed;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  z-index: 2;
}

ul {
  display: flex;
  font-size: 24px;
  gap: 68px;
  margin-right: 780px;
}

a {
  color: #FFFFFF;
}

/* SectionOne */
.Section_one {
  width: 100%;
  height: 1080px;
  position: relative;
}

.Section_info {
  font-size: 82px;
  color: #fff;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.section_img {
  width: 100%;
  height: 100%;
}

.Section_info2 {
  width: 583px;
  height: 60px;
  font-size: 24px;
  color: #fff;
  position: absolute;
  top: 65%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.Sect_search {
  width: 463px;
  height: 72px;
  padding: 24px 10px 24px 30px;
  position: absolute;
  display: flex;
  justify-content: space-between;
  top: 70%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 50px;
  background-color: gray;
}


.Search_text {
  color: white;
  font-size: 20px;
}
.Search_logo {
  width: 17px;
  height: 17px;
  border-radius: 20px;
  background-color: blue;
}

/* SectionTwo */
.Section_Two {
  width: 80%;
  margin: auto;
}

h1 {
  margin-left: 260px;
  font-size: 75px;
  padding-top: 250px;
  color: #081323;
}

.Fig_cards {
  display: flex;
  justify-content: space-evenly;

}

figure {

  width: 390px;
  height: 388px;
  margin-top: 80px;
  border: 2px solid #DCB47A;
  padding: 30px 41px 30px 41px;
}

figcaption {
  font-size: 16px;
  padding-top: 51px;
}

.lil_logo {
  padding-left: 190px;
}

.Price_Text {
  font-size: 16px;
}

/* SectionThre */

.Section_Thre {
  width: 80%;
  height: 80%;
  margin: 0 auto;
}

h2 {
  margin-top: 250px;
  margin-left: 322px;
  font-size: 64px;
  color: #081323;
}

.img_endline {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  position: relative;
}

/* FooterStart */
footer {
  color: #FFFFFF;
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 71px 545px 76px 545px;
  background-color: #262626;
}

.Footer_h3 {
  font-size: 62px;
  color: #DCB47A;
}

.Footer_P {
  margin-top: 10px;
  font-size: 20px;
  color: #FFFFFF;
}

.footer_bott {
  background-color: #DCB47A;
}

.footer_klick {
  font-size: 16px;
  padding-top: 20px;
  padding-left: 70px;
  width: 205px;
  height: 64px;
  margin-left: 50px;
  border-radius: 50px;
  background-color: #DCB47A;
}